# Database Configuration
user_db=your_db_user
host_db=localhost
database=your_db_name
password=your_db_password
port_db=5432
max=20
idleTimeoutMillis=30000
connectionTimeoutMillis=2000

# Server Configuration
PORT=3000
HOST=localhost
SECRET=your_secret_session_key
