.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.padding {
    padding: 20px;
}

.padding-y {
    padding:  20px 0;
}

.padding-x {
    padding:  0 20px;
}

.margin-top {
    margin-top: 10px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;
}

.bottom-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 10000;
}