section {
    padding: 50px;
    background-color: #2e2e2e4f ;
    color: white;
    backdrop-filter: blur(10px);
    border: solid 1px rgba(255, 255, 255, 0.048);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.445) 0 0 20px 5px;
    min-width: 540px;
}

hr {
    margin: 10px;
    border: none;
}

hr.o {
    width: 6px;
    background-color: white;
    border-radius: 3px;
}

h1,h2, h3, h4 {
    margin: 0;
}

h1 {
    color: rgb(43, 27, 8);
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

h1.no-margin {
    margin: 0;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: rgb(255, 245, 189);
    transition: 0.5s;
}

a:hover {
    color: rgb(255, 227, 70);
    filter: drop-shadow(0 0 10px rgba(255, 227, 70, 0.445)) ;
    transition: 0.2s;
}

section h1 {
    color: #facb00
}

p {
    color: white;
}

.notify {
    position: absolute;
    
}

.new-game {
    bottom: 0;
    right: 7.5px;
    margin-bottom: 0;
    border-radius: 15px 15px 0 0;
    transition: 0.5s;
    margin-left: 500px;
}

.fen-new-game.overed {
    transition: 0.5s;
    bottom: 0px;
}

.fen-new-game {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10000;
    bottom: -440px;
    transition: 0.5s;
}
.new-game-infos {
    background-color: #5f4f064f;
    padding: 10px 10px 10px 10px;
    border-radius: 15px 15px 0 0;
    color: white;
    backdrop-filter: blur(10px);
    border: solid 1px rgba(255, 255, 255, 0.048);
    box-shadow: rgba(0, 0, 0, 0.445) 0 0 20px 5px;
}

@keyframes dropNotif {
    0% {
        opacity: 0;
        top : -30px
    } 100% {
        opacity: 1;
        top: 20px;
    }
}

@keyframes dropNotifFin {
    0% {
        opacity: 1;
        top : 20px
    } 100% {
        opacity: 0;
        top: -30px;
    }
}

.notif {
    background-color: #2e2e2e4f ;
    color: white;
    backdrop-filter: blur(10px);
    border: solid 1px rgba(255, 255, 255, 0.048);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.445) 0 0 20px 5px;
    position: absolute;
    padding: 10px;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    animation: dropNotif 0.5s;
}

.notif.error {
    background-color: #4e1a1a4f ;
}

.notif.warn {
    background-color: #4e4b1a4f ;
}

.notif.anim {
    animation: dropNotifFin 1s;
}