body {
    background-color: rgb(19, 19, 19);
    overflow-y: auto;
}

main {
    padding: 0px 25vw;
}

main.two {
    padding: 0px 20vw;
}

h1, h2, h3 {
    color: rgb(224, 224, 224);
    margin: 0;
}

h2 {
    margin: 10px 0;
    margin-top: 40px;
}

form h2, h2.no {
    margin: 10px;
}

.no-gap {
    gap: 0;
} 

h1 {
    color: #dddddd;
    background-color: #facc001c;
    padding: 10px;
    box-shadow: 0 0 8px 5px #facc001c;
    margin-bottom: 100px;
}

p {
    transition: 0.5s;
    border-radius: 10px;
}

p:hover {
    background-color: #facc001c;
    transition: 0.5s;
    transform: scale(102%);
    padding: 10px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

h1.no {
    margin-bottom: 20px;
}

input {
    border: 1px #facc006f solid;
    border-radius: 10px;
    background-color: transparent;
    min-width: 350px;
    font-size: 15px;
}

input:focus {
    box-shadow: none;
}

.gap {
    gap: 50px;
}
