<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes parties - C Quoi Le Jeu</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/logo.svg" >
</head>
<body>
    <img id="filter-back" >
    <video autoplay muted loop id="background-video">
        <source src="/videos/background.webm" type="video/webm">
    </video>
    <div class="header"></div>
    <div class="fen" style="display : none" id="bio_settings">
        <div class="row space"><h1>Ajout d'une bio</h1><button onclick="document.getElementById('bio_settings').style.display = 'none'" >Annuler</button></div>
        <form id="bio_form" class="col center">
            <textarea id="bio_input" placeholder="Aucune bio pour le moment" ><%= user.bio || '' %></textarea>
            <button>Enregistrer</button>
        </form>
    </div>
    <div class="game-container">
        <section>
            <h1>Mon profil</h1>
            <h2><%= user.username %></h2>
            <p><span id="bio_display" ><%= user.bio || 'Aucune bio' %></span></p>
            <div class="row">
                <a onclick="document.getElementById('bio_settings').style.display = 'block'; document.getElementById('bio_input').focus()"><%= user.bio ? `Modifier la bio` : `Ajouter une bio` %></a>
            </div>
        </section>
    </div>
    <footer></footer>
<script src="/js/main.js" ></script>
<script src="/js/notify.js" ></script>
<script src="/js/profile/main.js" ></script>
<script src="/js/profile/page.js" ></script>
</body>
</html>
