<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes parties - C Quoi Le Jeu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/icône.png') }}" type="image/png">
</head>
<body>
    <div class="header">
        <div class="logo-container" onclick="location.href='/'">
            <img src="{{ url_for('static', filename='images/icône.png') }}" alt="Logo" class="logo">
            <span class="site-name">C Quoi Le Jeu</span>
        </div>
    </div>
    <div class="game-container">
        <h1>Mes parties (BETA)</h1>
        <p>Historique des parties jouées :</p>
        <ul>
            {% for game in games %}
                <li>{{ game.game_name }} - Score : {{ game.score }}</li>
            {% endfor %}
        </ul>
    </div>
    <footer>
        <p>Copyright © 2025 C Quoi Le Jeu. Tous droits réservés.</p>
    </footer>
</body>
</html>
